/* entire container, keeps perspective */
.flip-container 
{
  display: inline-block;
  perspective: 1000;
}

.carousel-inner:hover {
	text-decoration: none;
	cursor: pointer;
}

.carousel-inner > .item
{
  transform-origin: 100% 50%;
}

.tileWall
{
  display: inline-block;
}

.tile
{
  width: 120px;
  height: 140px;
  border-radius: 10px;
  text-align: center;
  color: white;
  left: 50% !important;
  margin-left: -60px;
  margin-bottom: 10px;
}

.tile.active
{
  border: solid 1px black;
}

.tile.left > .tileHint
{
  display: none;
}

.tile-name {
	font-weight: bold;
	text-align: center;
	line-height: 0.5em;
	margin-bottom: 10px;
	min-width: 100px;	
}

.tileHint {
	width: 25px;
	font-size: 8pt;
	position: absolute;
	top: 100px;
	left: 10px;
	color: #444;
	text-align: left;	
}

div.tileValue
{
  font-weight: bold;
  vertical-align: middle;
  font-size: xx-large;
}

div.tileLabel
{
  font-size: medium;
  position: relative;
  top: -10px;
}

